.guest{
    display: grid;
    grid-template-columns: 80% 20%;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.textField{
    font-weight: bold;
}
.clBtn > button {
    background-color: rgb(31, 117, 117);
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}